{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-css-modules",
    "stylelint-config-recess-order",
    "stylelint-config-prettier"
  ],
  "rules": {
    "no-empty-source": null,
    "indentation": 2
  }
}