.endingsCard {
  display: flex;
  flex-flow: column nowrap;
  align-content: flex-start;
  height: 100%;

  @media all and (min-width: $dekstop) {
    flex-flow: row nowrap;
  }
}

/* Left Section */
.left {
  position: relative;
  display: flex;
  flex: none;
  flex-flow: row nowrap;
  background-color: #e6e3d8;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
  background-blend-mode: multiply;

  @media all and (min-width: $dekstop) {
    flex-flow: column nowrap;
    width: 60%;
    height: 100%;
    background-size: auto 80%;
  }
}

.character {
  display: flex;
  flex: none;
  flex-flow: column nowrap;
  align-items: center;
  width: 50%;
  height: 100%;

  @media all and (min-width: $dekstop) {
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    height: 50%;
    max-height: 420px;
  }
}

.characterB {
  @media all and (min-width: $dekstop) {
    flex-flow: row-reverse nowrap;
  }
}

.portraitPicture {
  display: inline-flex;
  width: 120px;
  height: auto;

  @media all and (min-width: $tabletPortrait) {
    width: 180px;
  }

  @media all and (min-width: $tabletLandscape) {
    width: 240px;
  }

  @media all and (min-width: $dekstop) {
    align-self: flex-start;
    width: 50%;
  }
}

.portraitPicture::after {
  @media all and (min-width: $dekstop) {
    display: block;
    padding-bottom: 100%;
    content: "";
  }
}

.portraitPictureB {
  @media all and (min-width: $dekstop) {
    align-self: flex-end;
  }
}

.portraitImage {
  width: 100%;
  height: 100%;
}

.badge {
  position: relative;
  width: 182px;
  height: 24px;

  @media all and (min-width: $tabletPortrait) {
    width: 273px;
    height: 36px;
  }

  @media all and (min-width: $dekstop) {
    position: absolute;
    right: 0;
    width: 363px;
    height: 48px;
  }
}

.badgeB {
  @media all and (min-width: $dekstop) {
    left: 0;
  }
}

.badgeText {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #e6e3d8;
  letter-spacing: 1px;

  @media all and (min-width: $tabletPortrait) {
    font-size: 14px;
  }

  @media all and (min-width: $dekstop) {
    font-size: 20px;
    letter-spacing: 2px;
  }
}

.badgeSvg {
  display: block;
}

/* Right Section */
.right {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  margin-top: 12px;

  @media all and (min-width: $dekstop) {
    flex: none;
    width: 40%;
    height: 100%;
    margin-top: 0;
  }
}

.routes {
  display: flex;
  flex: none;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  height: 36px;

  @media all and (min-width: $dekstop) {
    height: 48px;
  }
}

.factionPicture {
  flex: 1;
  height: 36px;
  text-align: center;
  cursor: pointer;

  @media all and (min-width: $dekstop) {
    height: 48px;
  }
}

.factionImage {
  height: 100%;
  filter: grayscale(1);
}

.factionImageSelected {
  filter: none;
}

.content {
  position: relative;
  flex: 1;
  padding-right: 16px;
  padding-left: 16px;
  margin-top: 4px;
  font-size: 18px;
  font-weight: 600;
  line-height: 44px;
  color: #4e4936;
}

.ending {
  line-break: normal;
}

.contentBackground {
  position: absolute;
  top: 36px;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(#4e4936 1px, transparent 1px);
  background-size: 100% 44px;
}
