.characterList {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

.characterEntry {
  display: flex;
  flex: none;
  flex-flow: row nowrap;
  width: 100%;
  height: 48px;
  margin-top: 12px;
  cursor: pointer;

  @media all and (min-width: $tabletLandscape) {
    width: 50%;
    padding: 0 24px;
  }
}

.portraitContainer {
  flex: none;
  width: 144px;
  padding: 2px 0;
  border-style: solid;
  border-width: 2px;
  border-right: 0;
  border-left: 0;
  border-image: linear-gradient(to right, #9c9680, rgba(0, 0, 0, 0)) 100% 1;
}

.portraitWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(to right, #a99e8a, rgba(0, 0, 0, 0));
  border-style: solid;
  border-width: 1px;
  border-right: 0;
  border-left: 0;
  border-image: linear-gradient(to right, #9c9680, rgba(0, 0, 0, 0)) 100% 1;
}

.portraitPictureLazy {
  width: 100px;
  height: 100px;
}

.portraitPicture {
  display: block;
  width: 100%;
  height: 100%;
  transform: translateY(-10%);
}

.portraitImg {
  width: auto;
  height: 100%;
}

.factionPictureLazy {
  height: 32px;
  margin-left: 4px;
}

.factionPicture {
  display: block;
  height: 100%;
}

.factionImg {
  height: 100%;
}

.contentContainer {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  padding-left: 16px;
  margin-left: 12px;
  font-size: 18px;
  font-weight: 600;
  color: #4e4936;
  letter-spacing: 1px;
  background-image: linear-gradient(
    to right,
    #4e4936 30%,
    rgba(255, 255, 255, 0) 0%
  );
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 8px 2px;

  @media all and (min-width: $tabletLandscape) {
    padding-left: 24px;
    margin-left: 24px;
  }
}

.contentContainer::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -6px;
  width: 6px;
  height: 6px;
  margin: auto 0;
  content: "";
  background: #a99e8a;
  transform: rotateZ(45deg);
}
