.page {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100%;
  padding: 0;

  @media all and (min-width: $tabletLandscape) {
    padding: 24px 48px;
  }
}

.header {
  position: relative;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  max-width: 1440px;
  height: 36px;
  background: #5f5273;
  border-radius: 1px;
}

.headerText {
  font-size: 18px;
  color: #e6e3d8;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
  letter-spacing: 1px;
}

.headerBackButton {
  position: absolute;
  left: 12px;
  padding: 1px 4px;
  margin: auto 0;
  font-size: 14px;
  font-weight: 600;
  color: #5f5273;
  text-shadow: none;
  cursor: pointer;
  background: #e6e3d8;
  border-radius: 2px;

  @media all and (min-width: $tabletLandscape) {
    left: 16px;
  }
}

.contentWrapperOuter {
  flex: 1;
  width: 100%;
  min-width: 320px;
  max-width: 1440px;
  overflow: hidden;
  background: #e6e3d8;
  border-radius: 1px;

  @media all and (min-width: $tabletLandscape) {
    margin-top: 12px;
  }
}

.contentWrapperInner {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.content {
  padding: 16px 12px;

  @media all and (min-width: $tabletLandscape) {
    padding: 16px 24px;
  }
}

.contentWrapperInner::-webkit-scrollbar-track {
  background-color: #e6e3d8;
}

.contentWrapperInner::-webkit-scrollbar {
  width: 6px;
  background-color: #e6e3d8;
}

.contentWrapperInner::-webkit-scrollbar-thumb {
  background-color: #5f5273;
}
