.page {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100%;
  padding: 24px 36px;

  @media all and (min-width: $tabletLandscape) {
    padding-right: 48px;
    padding-left: 48px;
  }
}

.header {
  position: relative;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 428px;
  max-width: 1440px;
  height: 36px;
  font-size: 18px;
  color: #ede3e1;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
  letter-spacing: 1px;
  background: #5f5273;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.headerBackButton {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 12px;
  height: 24px;
  margin: auto 0;
  cursor: pointer;
  fill: rgba(237, 227, 225, 0.9);

  @media all and (min-width: $tabletLandscape) {
    left: 16px;
  }
}

.content {
  flex: 1;
  width: 100%;
  min-width: 428px;
  max-width: 1440px;
  padding: 16px 12px;
  margin-top: 12px;
  overflow: auto;
  background: #e6e3d8;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  @media all and (min-width: $tabletLandscape) {
    padding: 16px 24px;
  }
}

.content::-webkit-scrollbar-track {
  background-color: #b0a8bd;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.content::-webkit-scrollbar {
  width: 6px;
  background-color: #b0a8bd;
}

.content::-webkit-scrollbar-thumb {
  background-color: #6743b5;
}
