@font-face {
  font-family: EB Garamond;
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local("EB Garamond Regular"), local("EBGaramond-Regular"),
    url(/eb-garamond-regular.woff2) format("woff2");
}

@font-face {
  font-family: EB Garamond;
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
  src: local("EB Garamond SemiBold"), local("EBGaramond-SemiBold"),
    url(/eb-garamond-semibold.woff2) format("woff2");
}

html {
  box-sizing: border-box;
  height: 100%;
  overflow-y: overlay;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: black;
}

:global(#root) {
  height: 100%;
}

* {
  font-family: "EB Garamond", serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  border: 0;
}

button:focus {
  outline: 0;
}

img:-moz-loading {
  visibility: hidden;
}

a {
  text-decoration: none;
}
